# Ignore default django sqlite database
db.sqlite3

# Ignore python virtual environments
/.venv/
/venv/
/.env/
/env/

# Ignore python cache files
__pycache__/

# Ignore node files
/node_modules/

# IDE files
/.idea/
